input[type="button"]{
    color: #fff;
    background-color: rgb(65, 64, 64);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(22, 22, 22);
    cursor: pointer;
    border: 1px;
    padding: 0px;
    margin-left: 1px;
}
.clr{
    color: #fff;
    background-color: rgb(65, 64, 64);
    border-radius: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(22, 22, 22);
    cursor: pointer;
    border: 1px;
    padding: 0px;
    margin-left: 1px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;  
    
}
.container{
    background: rgb(0,0,0);

    margin: auto;
    position: absolute;
    left: 40%;
    top: 30%;
    
}

.viewer{
    background-color: rgb(22, 22, 22);
    width: 270px;
    position: absolute;
    
    border-radius: 10px;
    
    
}
.screen{
    outline: none;
    border-radius: 10px;
    width: 254px;
    height: 50px;
    background-color: #fff;
    color: black;
    margin-left: 6px;
    margin-top: 8px;
}
.btn:hover {
    color: #fff;
    background-color: rgba(43, 43, 43, 0.61);
  }
  .btn:active {
    background-color: rgba(148, 147, 147, 0.61);
  }



  
  
  body {
   
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #1d184e 0%, #090a0f 100%);
    overflow: hidden;
    filter: drop-shadow(0 0 10px rgb(228, 226, 236));

  }
  
  